*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 10px;
    /* height: 200vh; */
}
/* p {
    margin: 20px;
    padding: 0;
    border: dotted 5px olive;
}
.box::before{
    content: "Hello!";
} */
.boxes {
    border: 3px solid gray;
    position: relative;
 }
.box {
    flex-basis: 5rem;
    flex-grow: 1;
    /* flex-shrink: 1; */
    width: 5rem;                                     /*50% pf the parent, which is body, vw:view width, vh:view hight */
    height: 5rem;
    background: rgb(115, 115, 189);
    margin: 1rem;
}
.container{
    border: 3px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
/*     flex-wrap: wrap;
    align-content: center; */
    height: 90vh;
}
.box-one{
    flex-grow: 0;
    /* flex-basis: 5rem; */
    /* align-self: flex-start; */
}
.box-two{
    background: tomato;
    position: fixed;                                /*so this box will always stay on top, even if you scroll down*/
    top: 0;
    left: 2rem;
    right: 2rem;
    width: auto;                                    /*so the browser decides what width it should give.*/
    /* bottom: o; */
    z-index: 999999;
}
.box-three{
    background: deepskyblue;
}
/* .box2 {
    border: 3px solid tomato;
    width: 150px;
    height: 150px;
    overflow: auto;
} */
.tweet {
    border: 3px solid lightslategray;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.avatar{
    width: 5rem;
    height: 5rem;
    background-color: goldenrod;
    float: left;                                    /*to put the p or any other block element next to the avatar.*/
    margin-right: 0.5rem;                                
}
.clear {                                            /*to put the element below*/
    clear: both;
}