*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 10px;
}
p {
    margin: 20px;
    padding: 0;
    border: dotted 5px olive;
}
.box::before{
    content: "Hello!";
}
.box {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    display: inline-block;
}